{% extends 'base.html' %}
{% block title %}
collections
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Коллекции</h1>
    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.name }}</h2>
            <p>{{ el.genre }}</p>
            <p><b>Дата релиза: {{ el.datereliz }}</b></p>
            <a href="/collections/{{ el.id }}">Перейти</a>
        </div>
        {% endfor %}
    {% else %}
    <h2>Коллекции ещё не добавлены</h2>
    {% endif %}
</div>
<a href="/">Главная страница</a>

{% endblock %}